body {
  background: red url("https://farm5.staticflickr.com/4406/36566168053_61195fa5fe_z.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
  background: white;
  padding: 5px;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 300px;
  text-align: center;
  vertical-align: middle;
  width: 850px;
  opacity: 0.7;
  font-size: 1.5em;
}

h1 {
   font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

#navbar {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 18.3%;
  margin: 0;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
}

#navbar nav a.selected {
  background: black;
  color: white;
}

#navbar nav a:hover {
  color: black;
  background: white;
  opacity: .75;

}
.wrapper {
  background-color: black;
  opacity: 0.75;
}

#navbar nav a.menu-icon {
  display: none;
}

img.{
  padding-bottom: 0px;
  margin: 0%;
  border: solid;
  border-color: white;
}

#nav-button {
  margin-top: 0;
  padding-bottom: 22px;
}

nav {
  height: 64px;
}

#logo {
  float: left;
  border-right: 1px solid #ccc;
  border-color: white;
  padding-left: 22px;
  padding-right: 22px;
}
#nav-button {
  padding-top: 22px;
}

.sub-page {
  background: white;
  padding: 5px;
  margin: auto;
  margin-top: 15px;
  border-bottom: 0;
  text-align: center;
  vertical-align: middle;
  width: 500px;
  opacity: 0.7;
  font-size: 1.5em;
  height: 115px;
  padding: 5px;
}

.sub-paragraph {
  width: 90%;
  position: center;
  background-color: white;
  opacity: .75;
  margin:auto;
  height: 750px;
  font-size: 1.5em;
}

.gallary-pics {
  position: relative;
  margin-top: 60px;
  margin-right: 40px;
  right: 10px;
  width: 40%;
  height: 425px;
}

.gallary-pics1 {
  margin: 20px;
  width: 40%;
  float: left;
  position: relative;
}
.col-1 {
  float: left;
  width: 43%;
  position: center;
  background-color: white;
  opacity: .75;
  margin-top: 60px;
  margin-left: 40px;
  height: 425px;
  font-size: 1.5em;
  padding: 20px;
}
